/*
.bg-yellow{
    background-color: yellow;;
}
*/

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

#my-container{
    margin:auto;
    width:70%;
    display: flex;
    flex-wrap: wrap;
}

.centered{
    text-align: center;
    color: black;
}

.squareNormal {
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
}

.squareFizz {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 251, 1);
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
    color: black;
}

.squareBuzz {
    height: 100px;
    width: 100px;
    background-color: rgb(250, 164, 5);
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
}

.squareFizzBuzz {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
}